.burger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(20);
    height: rem(20);
    padding: rem(8);
    border-radius:  rem(4);
    border: rem(1) solid #000;
    cursor: pointer;

    span {
        @include tr('all');
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: rem(2);
        background: #000;

        &:first-child {
            top: 30%;
        }

        &:nth-child(2) {
            top: 50%;
        }

        &:last-child {
            top: 70%;
        }
    }

    &.open {
        span {
            top: 50%;
            left: 50%;

            &:first-child {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-child(2) {
                width: 0;
            }

            &:last-child {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}