include ../.././components/burger/burger.pug
include ../.././components/dropdown/dropdown.pug

.examples
    h1.examples__title Static Standart UI
    .examples__item
        .examples__item-text Burger
        .examples__item-element
            +burger
    .examples__item
        .examples__item-text Dropdown
        .examples__item-element
            +dropdown({ title:"Dropdown title" })