.examples {
    margin: rem(20) auto;
    padding: rem(20);
    border-radius: rem(8);

    &__title {
        text-align: center;
    }

    &__item {
        border-bottom: rem(1) solid rgba(#000, .2);

        &:not(first-child) {
            padding: rem(20) 0;
        }

        &-text {
            font-size: rem(18);
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: rem(20);
        }

        &-element {
            &:not(last-child) {
                margin-top: rem(20);
            }
        }
    }
}